.map-wrap {
  width: 100%;
  height: calc(
    100vh - 77px
  ); /* calculate height of the screen minus the heading */
}

.map {
  width: 100%;
  height: 100%;
}

.userTrackingMarker {
  height: 40pt;
  width: 40pt;
  background-repeat: no-repeat;
  background-size: cover;
}

.maplibregl-ctrl-group > button {
  height: 30pt;
  width: 30pt;
}

.loadedMap {
  display: none;
}

.maplibregl-canvas-container.maplibregl-interactive,
.maplibregl-canvas-container.maplibregl-interactive:active {
  cursor: crosshair;
}
